{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>CareerPilot AI</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

<link rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

<link rel="preconnect" href="https://fonts.googleapis.com">

<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{% static 'css/style.css' %}">

<link href="https://unpkg.com/aos@2.3.4/dist/aos.css" rel="stylesheet">

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark sticky-top glass-navbar">

<div class="container">

<a class="navbar-brand fw-bold" href="{% url 'dashboard' %}">
<i class="bi bi-rocket-takeoff-fill"></i>
CareerPilot AI
</a>

<button class="navbar-toggler"
type="button"
data-bs-toggle="collapse"
data-bs-target="#navbarNav">

<span class="navbar-toggler-icon"></span>

</button>

<div class="collapse navbar-collapse"
id="navbarNav">

<ul class="navbar-nav ms-auto align-items-center">

<li class="nav-item">

<a class="nav-link"
href="{% url 'dashboard' %}">

<i class="bi bi-speedometer2"></i>

Dashboard

</a>

</li>

<li class="nav-item">

<a class="nav-link"
href="{% url 'profile' %}">

<i class="bi bi-person-circle"></i>

Profile

</a>

</li>

<li class="nav-item ms-2">

<a class="btn btn-light rounded-pill px-4"
href="/logout/">

<i class="bi bi-box-arrow-right"></i>

Logout

</a>

</li>

</ul>

</div>

</div>

</nav>

<main class="container py-5">

{% block content %}

{% endblock %}

</main>

<footer>

<div class="container">

<div class="row">

<div class="col-md-6">

<h4>

<i class="bi bi-rocket-takeoff-fill"></i>

CareerPilot AI

</h4>

<p>

AI Powered Career Guidance Platform

</p>

</div>

<div class="col-md-6 text-md-end">

<p>

Developed by

<strong>

Shweta Mudbikar

</strong>

</p>

<p>

© 2026 All Rights Reserved

</p>

</div>

</div>

</div>

</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>

<script src="https://unpkg.com/aos@2.3.4/dist/aos.js"></script>

<script>
AOS.init({
    duration:800,
    once:true
});
</script>

</body>

</html>