<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">

    <h2>👋 Welcome, {{ request.user.username }}</h2>

    <p class="text-muted">
        Welcome to CareerPilot AI Dashboard
    </p>

    <div class="row mt-4">

        <div class="col-md-4">
            <div class="card shadow">
                <div class="card-body text-center">
                    <h4>📄 Resume Builder</h4>
                    <p>Create your ATS-friendly resume.</p>
                    <a href="/resume/" class="btn btn-primary">
                    Open
                    </a>
                    <a href="/myresume/" class="btn btn-success mt-2">
                        View Resume
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow">
                <div class="card-body text-center">
                    <h4>💼 Job Portal</h4>
                    <p>Explore matching job opportunities.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow">
                <div class="card-body text-center">
                    <h4>🤖 AI Interview</h4>
                    <p>Practice technical and HR questions.</p>
                </div>
            </div>
        </div>

    </div>

</div>

</body>
</html>