{% extends "base.html" %}

{% block content %}

<div class="hero">

<h1>Interview Preparation 🎤</h1>

<p>

Practice technical and HR interview questions.

</p>

</div>

<div class="card p-5">

<h3 class="mb-4">

Top Interview Questions

</h3>

<div class="accordion" id="accordionExample">

<div class="accordion-item">

<h2 class="accordion-header">

<button class="accordion-button"

data-bs-toggle="collapse"

data-bs-target="#q1">

Tell me about yourself.

</button>

</h2>

<div id="q1"

class="accordion-collapse collapse show">

<div class="accordion-body">

Introduce yourself professionally by covering your
education, skills, projects, and career goals.

</div>

</div>

</div>

<div class="accordion-item">

<h2 class="accordion-header">

<button class="accordion-button collapsed"

data-bs-toggle="collapse"

data-bs-target="#q2">

Why should we hire you?

</button>

</h2>

<div id="q2"

class="accordion-collapse collapse">

<div class="accordion-body">

Highlight your technical skills,
problem-solving ability,
and willingness to learn.

</div>

</div>

</div>

<div class="accordion-item">

<h2 class="accordion-header">

<button class="accordion-button collapsed"

data-bs-toggle="collapse"

data-bs-target="#q3">

What are your strengths?

</button>

</h2>

<div id="q3"

class="accordion-collapse collapse">

<div class="accordion-body">

Discuss your communication,
adaptability,
and technical knowledge.

</div>

</div>

</div>

</div>

</div>

{% endblock %}