{% extends "base.html" %}

{% block content %}

<div class="hero">

<h1>Resume Review 📊</h1>

<p>

AI analysis of your uploaded resume.

</p>

</div>

<div class="card p-5">

<h2 class="text-success">

<i class="bi bi-check-circle-fill"></i>

ATS Score

</h2>

<div class="progress my-4" style="height:30px;">

<div class="progress-bar bg-success"

style="width:85%;">

85%

</div>

</div>

<h4 class="mb-3">

Suggestions

</h4>

<ul class="list-group">

<li class="list-group-item">

✔ Add more technical skills

</li>

<li class="list-group-item">

✔ Mention measurable achievements

</li>

<li class="list-group-item">

✔ Improve project descriptions

</li>

<li class="list-group-item">

✔ Add GitHub & LinkedIn profile

</li>

</ul>

</div>

{% endblock %}