{% extends "base.html" %}

{% block content %}

<div class="hero fade-up">

    <div class="row align-items-center">

        <div class="col-lg-8">

            <h1>Resume Builder 📄</h1>

            <p class="mt-3">

                Create an ATS-friendly professional resume in just a few minutes.
                Fill in your information below.

            </p>

        </div>

        <div class="col-lg-4 text-center">

            <i class="bi bi-file-earmark-person-fill"
               style="font-size:140px;color:white;"></i>

        </div>

    </div>

</div>

<div class="card p-5">

<form method="POST">

{% csrf_token %}

<div class="row">

<div class="col-md-6 mb-4">

<label>Full Name</label>

<input
type="text"
class="form-control"
name="name"
placeholder="Enter Full Name"
required>

</div>

<div class="col-md-6 mb-4">

<label>Email</label>

<input
type="email"
class="form-control"
name="email"
placeholder="Enter Email"
required>

</div>

<div class="col-md-6 mb-4">

<label>Phone Number</label>

<input
type="text"
class="form-control"
name="phone"
placeholder="Enter Phone Number">

</div>

<div class="col-md-6 mb-4">

<label>LinkedIn</label>

<input
type="text"
class="form-control"
name="linkedin"
placeholder="LinkedIn Profile">

</div>

<div class="col-md-12 mb-4">

<label>Career Objective</label>

<textarea
class="form-control"
rows="4"
name="objective"
placeholder="Write your career objective"></textarea>

</div>

<div class="col-md-12 mb-4">

<label>Skills</label>

<textarea
class="form-control"
rows="3"
name="skills"
placeholder="Python, Django, SQL..."></textarea>

</div>

<div class="col-md-12 mb-4">

<label>Projects</label>

<textarea
class="form-control"
rows="4"
name="projects"
placeholder="Mention your projects"></textarea>

</div>

<div class="col-md-12 mb-4">

<label>Education</label>

<textarea
class="form-control"
rows="3"
name="education"
placeholder="Your education details"></textarea>

</div>

<div class="col-md-12 text-center">

<button class="btn btn-primary btn-lg px-5">

<i class="bi bi-download"></i>

Generate Resume

</button>

</div>

</div>

</form>

</div>

{% endblock %}